<div class="row">
    <div class="col-md-12">

        <div class="form-group form-black is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio
                <button class="btn btn-instagram btn-sm pull-right">Definir como Atendente</button>
            </li>
        </ul>
        <ul class="list-group">
            <div>
                <li class="list-group-item">Cras justo odio
                    <button class="btn btn-instagram btn-sm pull-right">Definir como Atendente
                    </button>
                </li>
            </div>
        </ul>
        <ul class="list-group">
            <div>
                <li class="list-group-item">Cras justo odio
                    <button class="btn btn-instagram btn-sm pull-right">Definir como Atendente
                    </button>
                </li>
            </div>
        </ul>
        <ul class="list-group">
            <div>
                <li class="list-group-item">Cras justo odio
                    <button class="btn btn-instagram btn-sm pull-right">Definir como Atendente
                    </button>
                </li>
            </div>
        </ul>
        <ul class="list-group">
            <div>
                <li class="list-group-item">Cras justo odio
                    <button class="btn btn-instagram btn-sm pull-right">Definir como Atendente
                    </button>
                </li>
            </div>
        </ul>
    </div>
</div>