<div class="main-content">
  <div class="conteiner-fluid">
    <div class="col-lg-12 col-md-12">
      <div class="row">
        <div class="col-md-5">
          <a [routerLink]="['/departments/new']" class="btn">Novo Departamento +</a>
        </div>
        <div class="col-md-7">
          <div class="form-group form-black is-empty" style="margin-top: 16px">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">

          <app-departments-list [departments]="departments" (edit)="edit($event)"
                               (delete)="delete($event)"></app-departments-list>

          <nav aria-label="Page navigation" *ngIf="departments?.length > 0">
            <ul class="pagination">
              <li>
                <a (click)="backPage(back)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li>
                <a> {{meta.from}} </a>
              </li>
              <li>
                <a (click)="nextPag(next)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
            <p class="text-right">Total de Registos: {{meta.total}}</p>
          </nav>

          <div class="col-md-12" *ngIf="!(departments?.length > 0)">
            <p class="lead text-center">
              Não foram encontrados itens para sua busca.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
