<div class="main-content">
  <div class="container-fluid">
      <div class="col-lg-12 col-md-12">
          <button class="btn">Novo Atendente +</button>
          <div class="card">
              <!--<div class="card-header">-->
                  <!--<i class="material-icons">perm_identity</i>-->
                  <!--Atendentes Cadastrados-->
              <!--</div>-->
              <div class="card-content table-responsive">
                  <app-attendant></app-attendant>
              </div>
          </div>
      </div>
  </div>
</div>