<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Detalhes da Solicitação: #{{request.id}}</h5>
                    </div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <div class="dropdown">
                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                    Mais
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Cancelar</a></li>
                                    <li><a href="#">Imprimir</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Alterar Status</a></li>
                                    <li><a href="#">Comentar</a></li>
                                    <li><a href="#">Transferir</a></li>
                                </ul>
                                <button (click)="finalizeRequest(request)" class="btn btn-danger">Finalizar</button>
                                <button class="btn">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-content">
                                <p>{{request.user.name}}</p>
                                <p>{{request.description}}</p>
                            </div>
                          <div class="card-footer">
                            <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Alterar status</button>
                          </div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Novo status para a solicitação</h4>
                              </div>
                              <div class="modal-body">
                                <form [formGroup]="statusForm" novalidate>
                                  <div class="form-group form-black">
                                    <label class="control-label center-block">Status:
                                      <select name="" id="" class="form-control" formControlName="status_id" >
                                        <option selected >Selecione ...</option>
                                        <option *ngFor="let statu of status" [value]="statu.id">{{statu.name}} => {{statu.description}}</option>
                                      </select>
                                    </label>
                                  </div>
                                  <div class="form-group form-black">
                                    <label for="message-text" class="control-label">Observação:</label>
                                    <textarea class="form-control" id="message-text" formControlName="observation"></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-instagram" [disabled]="statusForm.invalid" (click)="defineStatus(statusForm.value)">Salvar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      <div class="card" *ngFor="let status of statusRequest; let i = index" >
                        <div class="card-content">
                          <h6>Status # {{ statusRequest.length - i }}</h6>
                          <p><label for="message-text" class="control-label">Nome:</label> {{status.name}}</p>
                          <p><label for="message-text" class="control-label">Descrição:</label> {{status.description}}</p>
                          <p><label for="message-text" class="control-label">Observação:</label> {{status.observation}}</p>
                          <span class="help-block pull-right">{{status.created_at}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Informações da Solicitação</h5>
                            </div>
                            <div class="card-content">
                                <p>Responsável: {{request.attendant.name}}</p>
                                <p>Departamento: {{request.department.name}}</p>
                                <p>Criado em: {{request.created_at}}</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Solicitante</h5>
                            </div>
                            <div class="card-content">
                                <p>Nome: {{request.user.name}}</p>
                                <p>Email: {{request.user.email}}</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Equipamentos</h5>
                            </div>
                            <div class="card-content">
                                <table class="table table-hover">
                                    <thead class="text-gray">
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Categoria</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let equipment of request.equipaments">
                                        <td>{{equipment.description}}</td>
                                        <td>{{equipment.category}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="finalizeRequest(request)" class="btn btn-danger pull-right">Finalizar</button>
            </div>
        </div>
    </div>
</div>
