<div class="main-content">
    <div class="conteiner-fluid">
        <div class="card">
            <div class="card-content">
                <form [formGroup]="stForm" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <h3>Novo Status</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <app-input-container errorMessage="Campo obrigatório" label="Nome" [value]="id">
                                    <input class="form-control" formControlName="name" autocomplete="off">
                                </app-input-container>
                            </div>
                            <div class="col-md-6">
                                <app-input-container errorMessage="Campo obrigatório" label="Descrição" [value]="id">
                                    <input class="form-control" formControlName="description" autocomplete="off">
                                </app-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <button (click)="addStatus(stForm.value)" class="btn btn-success btn-lg pull-right"
                                    [disabled]="stForm.invalid">Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



