<div class="main-content">
    <div class="conteiner-fluid">
        <div class="card">
            <div class="card-content">

                <div class="col-lg-6 col-md-6">
                    <app-attendants-form></app-attendants-form>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div style="margin-top: 80px">
                        <app-attendants-form-list></app-attendants-form-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
