<table class="table table-hover">
    <thead class="text-gray">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Departamentos</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let attendant of attendants">
        <td>
          {{attendant.name}}
          <span class="label label-danger pull-right" *ngIf="!attendant.active">Desativado</span>
          <span class="label label-success pull-right" *ngIf="attendant.active">Ativo</span>
        </td>
        <td>{{attendant.email}}</td>
        <td>{{attendant.coordinator ? 'Coordenador': 'Attendant'}}</td>
        <td>
            <p *ngFor="let department of attendant.departments">
                {{department.name}}
            </p>
        </td>
        <td class="td-actions text-right">
            <button class="btn btn-default" *ngIf="!(attendant.active)">Ativar</button>
            <button class="btn btn-default" *ngIf="attendant.active">Desativar</button>
            <button (click)="emitEdit(attendant)" type="button" rel="tooltip" title="Edit Task"
                    class="btn btn-simple btn-xs">
                <i class="material-icons">edit</i>
            </button>
            <button (click)="emitDelete(attendant)" type="button" rel="tooltip" title="Remove"
                    class="btn btn-danger btn-simple btn-xs">
                <i class="material-icons">close</i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
