<div class="col-lg-12 col-md-12 col-xs-12">
<table class="table table-hover table-responsive">
    <thead class="text-gray">
    <tr>
        <th>Protocolo</th>
        <th>Assunto</th>
        <th>Departamento</th>
        <th>Usuário</th>
        <th>Data/Hora</th>
        <th>Atendente</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr (click)="detailRequest(request)" *ngFor="let request of requestItems" style="cursor:pointer;">
        <td>#{{request.id}}</td>
        <td>{{request.subject_matter}}
            <span class="label label-warning pull-right" *ngIf="request.attendant === null">Aguardando</span>
            <span class="label label-danger pull-right" *ngIf="(request.attendant !== null && request.finalized === 1)">Finalizado</span>
            <span class="label label-success pull-right" *ngIf="(request.attendant !== null && request.finalized === 0)">Aberto</span>
        </td>
        <td>{{request.department}}</td>
        <td>{{request.user}}</td>
        <td>{{request.created_at}}</td>
        <td>{{request.attendant}}
            <button (click)="emitMeet(request)" class="btn btn-success btn-sm" *ngIf="request.attendant === null">Atender</button>
        </td>
      <td><button (click)="openImages(request)" class="btn btn-success btn-sm pull-right" *ngIf="request.attendant !== null">Visualizar imagens</button></td>
    </tr>
    </tbody>
</table>
</div>
