<table class="table table-hover">
    <thead class="text-danger">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="getClick()">
        <td>Dakota Rice</td>
        <td>Niger</td>
        <td>Oud-Turnhout</td>
        <td class="text-danger">$36,738</td>
    </tr>
    <tr>
        <td>Minerva Hooper</td>
        <td>Curaçao</td>
        <td>Sinaai-Waas</td>
        <td class="text-danger">$23,789</td>
    </tr>
    </tbody>
</table>
