<div class="main-content">
  <div class="conteiner-fluid">
    <div class="card">
      <div class="card-content">
        <form [formGroup]="departmentForm" novalidate>
          <div class="col-lg-12 col-md-12">
            <h3>Novo Departamento</h3>
            <div class="row">
              <div class="col-md-6">
                <app-input-container errorMessage="Campo obrigatório" label="Nome">
                  <input class="form-control" formControlName="name" autocomplete="off">
                </app-input-container>
              </div>
              <div class="col-md-6">
                <app-input-container errorMessage="Campo obrigatório" label="Descrição">
                  <input class="form-control" formControlName="description" autocomplete="off">
                </app-input-container>
              </div>
            </div>
            <div class="row">
              <button (click)="addSector(departmentForm.value)" class="btn btn-success btn-lg pull-right"
                      [disabled]="departmentForm.invalid">Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
