<div class="main-content">
    <div class="conteiner-fluid">
        <div class="card">
            <div class="card-content">
                <form [formGroup]="equipmentForm" novalidate>
                    <div class="col-lg-12 col-md-12">
                        <h3>Novo Equipamento</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <app-input-container errorMessage="Campo obrigatório" label="Código">
                                    <input class="form-control" formControlName="code" autocomplete="off">
                                </app-input-container>
                            </div>
                            <div class="col-md-6">
                                <app-input-container errorMessage="Campo obrigatório" label="Descrição">
                                    <input class="form-control" formControlName="description" autocomplete="off">
                                </app-input-container>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <app-select-container errorMessage="Campo obrigatório" label="Categoria">
                                        <select class="form-control" formControlName="category_id">
                                            <option *ngFor="let category of categories" [value]="category.id">
                                                {{category?.name}}
                                            </option>
                                        </select>
                                    </app-select-container>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <app-select-container errorMessage="Campo obrigatório" label="Setor">
                                        <select class="form-control" formControlName="sector_id">
                                            <option *ngFor="let sector of sectors" [value]="sector.id">
                                                {{sector?.name}}
                                            </option>
                                        </select>
                                    </app-select-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button (click)="addEquipment(equipmentForm.value)"
                                    class="btn btn-success btn-lg pull-right"
                                    [disabled]="equipmentForm.invalid">Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>{{equipmentForm.value | json}}</div>
